[submodule "code/centralised_bibliography"]
	path = code/centralised_bibliography
	url = https://github.com/amael-ls/centralised_bibliography.git
[submodule "communications/cst/2025-10-30/centralised_bibliography"]
	path = communications/cst/2025-10-30/report/centralised_bibliography
	url = https://github.com/amael-ls/centralised_bibliography.git
